body {
  background: #f56a6a;
}
.carousel-inner {
  margin-top: 50px;
}
.carousel-caption {
  background-color: #68f2ed;
  opacity: .9;
  font-weight: bold;
}
.carousel-caption h1,
.carousel-caption h4 {
  color: white;
}
